version: '3.8'

services:
  email-service:
    build:
      context: .
      target: development
    container_name: email-service
    ports:
      - '3001:3001'
    environment:
      - NODE_ENV=development
      - PORT=3001
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - TEMPLATE_SERVICE_URL=http://host.docker.internal:3004
      - API_GATEWAY_URL=http://host.docker.internal:3000
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - notification-system_notif-network
    command: npm run start:dev

networks:
  notification-system_notif-network:
    external: true
